#__next {
  background-color: red;
}

.container {
  padding: 0 2rem;
}

.img::before {
  animation: rotate ease-in-out 2s infinite;
  animation: rotate ease-in-out 1.3s infinite;
  background: -webkit-linear-gradient(left top, rgb(208, 4, 4) 0%, #9505fc 100%);
  border-radius: 50%;
  content: "";
  height: 188px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  width: 188px;
}

@keyframes rotate {
  0%
 {
   transform: translate(-50%, -50%) rotate(0deg)
 }
 100% {
   transform: translate(-50%, -50%) rotate(360deg)
 }
}


.thumbnail {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px gba(27,31,36,0.15);
  position: relative;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social a {
  padding: 6px;
}

.img {
  margin-bottom: 32px;
  position: relative;
}

.content {
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
